{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% elif query %}{{ query }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<h2>{% if category %}{{ category.name }}{% elif query %}Результаты поиска по запросу: "{{ query }}"{% else %}Products{% endif %}</h2>
<article class="basket-content">
    <form method="get" class="select-custom">
        <label for="category" class="select-label">К категориям <span class="arrow">&#9660</span></label>
        <select name="category" id="category" class="sort-select" onchange="this.form.submit()">
            {% for c in categories %}
                <option value="{{ c.get_absolute_url }}" {% if category and category.slug == c.slug %}selected{% endif %}>
                    {{ c.name }}
                </option>
            {% endfor %}
        </select>
    </form>
    <form method="get" class="select-custom">
        {% if query %}
            <input type="hidden" name="query" value="{{ query }}">
        {% endif %}
        {% if category %}
            <input type="hidden" name="category_slug" value="{{ category.slug }}">
        {% endif %}
        <label for="sort" class="select-label">Сортировать по <span class="arrow">&#9660</span></label>
        <select name="sort" id="sort" class="sort-select" onchange="this.form.submit()">
            <option value="name" {% if sort == 'name' %}selected{% endif %}>По алфавиту</option>
            <option value="price" {% if sort == 'price' %}selected{% endif %}>По цене</option>
            <option value="stock" {% if sort == 'stock' %}selected{% endif %}>По наличию</option>
        </select>
    </form>
    <script>
        document.getElementById('category').addEventListener('change', function() {
            let selectedUrl = this.value;
            if (selectedUrl) {
                window.location.href = selectedUrl;
            }
        });
        document.querySelectorAll(".select-label").forEach(label => {
            label.addEventListener("click", function() {
                this.nextElementSibling.focus(); // Открываем select при клике на label
            });
        });
    </script>
</article>
<div class="list_products">
    {% if products %}
        {% for product in products %}
        <div class="list_product">
            <a class="list_product_img" href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/err.jpg' %}{% endif %}">
            </a>
            <div class="list_product_description">
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a></br>
                {{ product.short_description }}</br>
                В наличии: {{ product.stock }} шт.</br>
                Цена: {{ product.price }} руб.</br>
            </div>
            <div class="basket-content" style="flex: 0;">
                <form method="post" action="{% url 'shop:product_detail' product.id product.slug %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="">
                    <button type="submit" class="profil-btn" style="width: 100%; padding: 0 1rem;">Описание</button>
                </form>
                <form method="post" action="{% url 'shop:add_to_cart_or_order' product.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="cart">
                    <button type="submit" class="profil-btn" style="width: 100%; padding: 0 1rem;">Добавить в корзину</button>
                </form>
                <form method="post" action="{% url 'shop:add_to_cart_or_order' product.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="order">
                    <button type="submit" class="profil-btn" style="width: 100%; padding: 0 1rem;">Заказать</button>
                </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Товары не найдены.</p>
    {% endif %}
</div>

{% endblock %}